/* Application.css */

.form-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.form-column {

  width: 45%;
  margin-bottom: 25px;
}

.subjects{
  margin-top: 80px;
}

/* Add margin to labels and input elements for both columns */
.form-column label,
.form-column input,
.form-column textarea,
.form-column .ant-select-selector {
  margin-bottom: 15px;
}

.submit-button {
  width: 20%;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .form-column {
    width: 100%;
  }

  /* Increase spacing for smaller screens */
  .form-column label,
  .form-column input,
  .form-column textarea,
  .form-column .ant-select-selector {
    margin-bottom: 20px;
  }

  .submit-button {
    width: 100%;
  }
}
